<div id="content">	
		<div class="carte"> 
				<div class="section">
					<div class="section-carte article-area">
							<img src="sources/img/spherical_mozzarella.jpg" alt="image" width="336px" />
							<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div>

					<div class="section-carte article-area">
							<img src="sources/img/liquid_pea.jpg" alt="image" width="335px" height="181px" />
							<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div>

					<div class="section-carte article-area">
								<img src="sources/img/orange_sphere.jpg" alt="image" width="336px" height="181px" />
								<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div>

					<div class="section-carte article-area">
								<img src="sources/img/parmesan_gnocchi.jpg" alt="image" width="335px" height="181px"/>
								<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div>

					<div class="section-carte article-area">
								<img src="sources/img/parmesan_gnocchi.jpg" alt="image" width="335px" height="181px"/>
								<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div>

					<div class="section-carte article-area">
								<img src="sources/img/carbonated_mojito.jpg" alt="image" width="335px" height="181px"/>
								<p class="plat-name">mgsjkmlgjml sgjmlgj</p>
					</div> 

				</div>

			</div>
				
				<aside id="aside">

					<div class="article-area">

						<h3 class="title">Menu du jour</h3>
						<img src="../Resto/sources/img/voss.jpg" alt="image" class="image-area" width="280px"/>


						<p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa.<span>Bon appétit</span></p>
					</div>

				</aside>

			
		</div>
</div>    
	