<footer id="footer">
	<div class="container">
		<div class="mini-section text-footer">
			<h3>Service Consommateur</h3>
			<p class="text-footer"> Vous pouvez joindre notre service consommateur par téléphone 7j/7 et 24h/24 au <br/>00.225.32.45.97
		</div>
		<div class="mini-section text-footer">
			<h3>Mode de paiement</h3>
			<p class="text-footer">Nous acceptons les règlements par types de cartes proposées en dessous <br/> logo visa / logo american express / logo eurocard mastercard...
		</div>
		<div class="mini-section text-footer">
			<h3>Réseaux sociaux</h3>
			<p class="text-footer">Restez connectés sur nos réseaux sociaux <br/> logo facebook /logo twitter/ logo instagram</p>
		</div>
	</div>
	<div class="foot">
		<p class="text-foot">Restö est une marque du group Karim / Victor / Yifon et Franck - Copyright 2014</p>
	</div>
</footer>