<header id="header">
		<div class="container">
			<div class="header-log">
				<ul class="primarynav">
					<li class="login"><a href="index.php?page=login">Login</a></li>
					<li class="login"><a href="index.php?page=register">Register</a></li>
				</ul>
			</div>
			<nav id="nav-header">
				<ul class="primarynav">
					<li><a href="index.php?page=home">HOME</a></li>
					<li><a href="index.php?page=carte">CARTE</a></li>
					<li><a href="index.php?page=delivery">DELIVERY</a></li>
					<li><a href="index.php?page=booking">BOOKING</a></li>
					<li><a href="index.php?page=visitorsbook">COMMENTS</a></li>
					<li><a href="index.php?page=contact">CONTACT</a></li>
				</ul>
			</nav>
			<div class="logo">
				<h1>RESTÖ</h1>
			</div>
		</div>
		<div>
			<img class="image-header" src="sources/img/honey_caviar.jpg" alt="image header" />
		</div>
</header>	