<header id="header">
		
		<div class="container">
			<div class="header-log"><h4 class="login">login</h4></div>
			<nav id="nav-header">
				<ul class="primarynav">
					<li><a href="#">HOME</a>
					<li><a href="#">CARTE</a>
					<li><a href="#">DELIVERY</a>
					<li><a href="#">BOOKING</a>
					<li><a href="#">COMMENTS</a>
					<li><a href="#">CONTACT</a>

				</ul>
			</nav>
			<div class="logo"><h1>RESTÖ</h1></div>
		</div>
		
		<div class="image-header"><img src="sources/img/voss.jpg" alt="image" width="1180px" height="385px" /></div>
</header>	