<div class="content">
			<div class="section">
				<div class="article-area">
					<h3>La cuisine Moléculaire</h3>
				<img src="../sources/img/carbonated_mojito.jpg" alt="image" class="image-area" width="630px"/>
			
				<div class="petite-section text-footer"><h3>Histoire de la cuisine moleculaire</h3>
					<p class="text-footer">Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia  </div>

				<div class="petite-section text-footer">
					<h3>Avenir de la cuisine moleculaire</h3>
					<p class="text-footer">Nous acceptons les règlements par types de cartes proposées en dessous <br/> logo visa / logo american express / logo eurocard mastercard...</div>

				</div>

			</div>
				<aside id="aside">

					<div class="article-area">

						<h3>Menu du jour</h3>
				<img src="../sources/img/cuMol_1.jpg" alt="image" class="image-area" width="280px"/>


				<p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa .
				</p><span>Bon appétit</span>
				</div>

				</aside>
</div>		