<div>
  <h2 style="color:red;font-size:1.4rem">Register</h2> 
  	<form action="index.php?page=register" method="POST"/>
  		<input type="text" name="login" autofocus placeholder="Enter your login"/><br/><br/>
  		<input type ="text" name="name" placeholder="Name"/><br/><br/>
  		<input type ="text" name="firstname" placeholder="Firstname"/><br/><br/>
  		<input type ="password" name="password" placeholder="Password"/><br/><br/>
  		<input type ="number" name="address_number" placeholder="Street number"/><br/><br/>
  		<input type ="text" name="address_street" placeholder="Street"/><br/><br/>
  		<input type ="number" name="address_zipcode" placeholder="Zipcode"/><br/><br/>
  		<input type ="text" name="address_city" placeholder="City"/><br/><br/>
  		<input type ="text" name="email" placeholder="Email"/><br/><br/>
  		<input type ="number" name="phone" placeholder="Phone number"/><br/><br/>
  		<input type ="date" name="birthdate" placeholder="Date of birth"/><br/><br/>
  	
  		
  		<input type="submit" value="Inscription"/>
	</form>
	<div><?= $error;?></div>
	<div><?= $success;?></div> 
</div>