<div>
  <h2 style="color:red;font-size:1.4rem">Register</h2> 
  	<form action="index.php?page=register" method="POST"/>
  		<input type="text" name="login" autofocus placeholder="Enter your login"/><br/><br/>
  		<input type ="text" name="name" placeholder="Enter your name"/><br/><br/>
  		<input type ="text" name="firstname" placeholder="Enter your firstname"/><br/><br/>
  		<input type ="password" name="password" placeholder="Enter your password"/><br/><br/>
  		<input type ="number" name="address_number" placeholder="Enter your street number"/><br/><br/>
  		<input type ="text" name="address_street" placeholder="Enter your street"/><br/><br/>
  		<input type ="number" name="address_zipcode" placeholder="Enter your address zipcode"/><br/><br/>
  		<input type ="text" name="address_city" placeholder="Enter your city"/><br/><br/>
  		<input type ="text" name="email" placeholder="Enter your email"/><br/><br/>
  		<input type ="number" name="phone" placeholder="Enter your phone number"/><br/><br/>
  		<input type ="date" name="birthdate" placeholder="Enter your date of birth"/><br/><br/>
  	
  		
  		<input type="submit" value="Inscription"/>
	</form>
	<div><?= $error;?></div>
	<div><?= $success;?></div> 
</div>