<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="source/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="source/css/font.css"/>
	<link rel="stylesheet" type="text/css" href="source/css/base.css"/>
<body>
	<header id="header">
		<div class="container">
			<div class="header-logo"><h1>RESTÖ</h1></div>
			<nav id="nav-header">
				<ul class="primarynav">
					<li><a href="#">home</a>
					<li><a href="#">carte</a>
					<li><a href="#">livraison</a>
					<li><a href="#">resa</a>
					<li><a href="#">contact</a>
					<li><a href="#">livre d'or</a>

				</ul>
			</nav>
		</div>
		<div class="image-header">je suis une image en slide</div>
	</header>	
	<article id="article">
		<div class="content"> 
			<?php require('../app/content.php');?>
			<div class="section"></div>
				<aside id="aside">
				</aside>
		</div>
	</article>
	<footer id="footer">
		<div class="container"></div>
 
	</footer>
	
</body>
</html>
